// Advent of Code {{YEAR}} - Day {{DAY}}
#include "aoc.hpp"

#include <iostream>

int main(int argc, char** argv) {
    if (argc < 2) {
        std::cerr << "Usage: " << argv[0] << " <input file>\n";
        return 1;
    }

    const auto lines = aoc::read_lines(argv[1]);

    // Part 1
    {
        std::cout << "Part 1: " << 0 << '\n';
    }

    // Part 2
    {
        std::cout << "Part 2: " << 0 << '\n';
    }
}
